@import 'react-md/src/scss/react-md';

// Variable overrides
$md-primary-color: $md-blue-500;
$md-secondary-color: $md-blue-900;

$ag-mat-primary: $md-primary-color;
$ag-mat-accent: $md-secondary-color;

$row-height: 30px;
$header-height: 30px;
$font-size: 14px;
$font-family:Helvetica, arial, sans-serif;

.gapped:after {
    width:5px;
}

.md-dialog--centered .md-list-tile.md-text{
    height:25px;
}

.ag-theme-material .ag-header-row .ag-header-cell, .ag-theme-material .ag-header-row .ag-header-group-cell {
    padding-left: 12px;
    padding-right: 12px;
}
.ag-theme-material .ag-header-cell .ag-floating-filter-button {
    margin-top:5px;
}

.ag-theme-material .ag-row .ag-cell {
    line-height: $row-height;
    border-left: 1px solid rgb(224, 224, 224);
    padding-left: 12px;
    padding-right: 12px;
}
.ag-theme-material .ag-row .ag-cell.ag-cell-focus {
    border-left: 1px solid $ag-mat-accent;
}

.ag-theme-material .ag-row .ag-cell.ag-cell-inline-editing {
    height: $row-height;
    padding-top: 0;
    padding-bottom: 0;
}

.ag-theme-material .ag-header-row .ag-header-cell, .ag-theme-material .ag-header-group-cell {
    line-height: $row-height;
    font-size: 13px;
}

*, button, h2, .ag-theme-material, .ag-theme-material .ag-header {
   font-family: $font-family
}

.ag-row-odd {
    background: #f7f7f7
}

.ag-theme-material .ag-row.ag-row-selected {
    background: $md-primary-color;
    color: #fff;
}

.ag-theme-material.column-selector .ag-cell{
    background: #fff;
    color: #000;
    border: none;
}
.ag-theme-material.column-selector .ag-row.ag-row-selected .ag-cell-focus {
    border:none;
}

.ag-theme-material.column-selector .ag-ltr .ag-cell-last-left-pinned {
    border: none;
}

.ag-theme-material.column-selector .ag-row {
    border: none;
}

.ag-theme-material.column-selector .ag-row .ag-cell.ag-cell-focus {
    border: none;
}

.ag-theme-material.column-selector .ag-row.ag-row-selected {
    background: #fff;
    color: #000;
    border: none;
}

.ag-theme-material .ag-row.ag-row-selected .ag-cell-focus {
    border-width: 2px;
}

.incell-editor {
    border: none;
    background: transparent;
}

.date-editor-input {
    width: 111px;
    height: 28px;
}

.inline-toolbar, .inline-toolbar .md-title--toolbar, .inline-toolbar .md-btn--toolbar {
    height: 45px;
    line-height: 45px;
}

.inline-toolbar .md-btn--toolbar {
    margin: -7px 0 0 0;
}

.inline-toolbar .md-btn--toolbar .md-btn {
    margin: auto;
}

.my-slider .md-slider-track-fill {
    background: none;
}